/*.customAxisLabel {*/
/*	width: 12px;*/
/*}*/
/*.recharts-cartesian-axis-tick-value {*/
/*	max-width: 10px ;*/
/*	word-break-inside: 10px ;*/

/*}*/

.Text {
	width: 5px;
	word-wrap: break-word !important;
}
.recharts-text.recharts-cartesian-axis-tick-value {
	width: 5px;
	text-align: center;
	word-wrap: break-word !important;

}
.recharts-cartesian-axis-ticks {
	width: 5px;
	word-wrap: break-word;
	margin: 10px;
}
svg.recharts-surface tspan {
	font-size: 0.9rem !important;
	max-width: fit-content;
	word-wrap: break-word !important;
}


.tooltip {
	border-radius: 0.5rem;
	/*background: #3182CE;*/
	/*color: #FFFFFF;*/
	padding: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	/*text-align: center;*/
	width: 20rem;
}


