* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 80px;
}
